.carousel {
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background);
}

.carousel__item {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease-out;
}

img {
    border-radius: 8px;
}

.carousel__item--active {
    visibility: visible;
    z-index: 1;
    opacity: 1;
}

.arrow__right {
    position: absolute;
    top: 50%;
    right: 20rem;
    font-size: 3rem;
    color: rgb(88, 88, 88);
}

.arrow__left {
    position: absolute;
    top: 50%;
    left: 20rem;
    font-size: 3rem;
    color: rgb(88, 88, 88);
}

@media only screen and (max-width: 768px) {
    .arrow__left,
    .arrow__right {
        display: none;
    }
}
