.register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    background: url("https://prezentokracja.pl/media/catalog/product/optimized/d/8/d8a0d47495cd242e35b9c6143b986db1/spadochrony-skoki-tandemowe.jpg") 
    no-repeat  center ;
}

.login__form{
    height: 370px;
    width: 325px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    -webkit-box-shadow: 8px 8px 24px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px -10px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px -10px rgba(66, 68, 90, 1);
}
.register__form__header{
    margin: 10px 10px 10px 10px;
    color: var(--green-main);
}
.register__form__input{
    
    width:250px;
    height: 50px;
    margin: 10px 20px 10px 10px;
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
    font-size: medium;
    border-color: var(--green-main);
}

.login__info{
    color: var(--green-main);
    text-decoration: none none;
}