.product__item {
    height: 550px;
    width: 350px;
    margin: 25px;
    border-color: var(--green-light);
    border-style: groove;
    border-width: 3px;
    -webkit-box-shadow: 8px 8px 24px 0 var(--green-shadow);
    -moz-box-shadow: 8px 8px 24px 0 var(--green-shadow);
    box-shadow: 8px 8px 24px 0 var(--green-shadow);
    display: flex;
    flex-direction: column;
}

.product__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.product__image {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.product__image:hover {
    opacity: 0.8;
}

.product__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 10px 30px;
}

.product__title {
    margin: auto;
    padding: 1.5em 1.5em;
}

.product__description {
    margin: auto;
    padding: 1.5em 1.5em;
}

.product__price {
    margin: auto;
    color: var(--green-main);
    font-weight: 500;
}

.product__buttons {
    height: 70px;
    display: flex;
    justify-content: center;
}

.product__button {
    width: 110px;
    background-color: var(--green-main);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    margin: 10px 10px 15px;
    cursor: pointer;
    font-weight: 900;
}

.product__button:hover {
    background-color: var(--green-light);
    color: black;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.product__button-link {
    text-decoration: none;
    color: white;
    font-weight: 900;
}