.product__item {
    height: 500px;
    width: 350px;
    margin: 25px;
    border-color: hsl(84, 100%, 59%);
    border-style: groove;
    border-width: 3px;
    -webkit-box-shadow: 8px 8px 24px 0 rgba(25, 119, 25, 1);
    -moz-box-shadow: 8px 8px 24px 0 rgba(25, 119, 25, 1);
    box-shadow: 8px 8px 24px 0 rgba(25, 119, 25, 1);
    display: flex;
    flex-direction: column;
}

.product__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.product__image {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.product__image:hover {
    opacity: 0.8;
}

.product__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 10px 30px;
}

.product__title {
    margin: auto;
}

.product__description {
    margin: auto;
}

.product__price {
    margin: auto;
    color: green;
    font-weight: 500;
}

.product__buttons {
    margin-top: auto;
    margin-bottom: 30px;
    min-width: 165px;
    width: auto;
    height: 70px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

.product__button {
    width: 110px;
    background-color: green;
    color: white;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    margin: 10px 10px 15px;
    cursor: pointer;
    font-weight: 900;
}

.product__button:hover {
    background-color: greenyellow;
    color: black;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.product__button-link {
    text-decoration: none;
    color: white;
    font-weight: 900;
}