.container {
    background: url('../background_image/gym3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 320px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
