.products__search {
    background: #EDEDF0;
    border-radius: 99px;
    height: 52px;
    width: 310px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.products__search-icon {
    margin-left: 15px;
    height: 18px;
    width: 18px;
    color: #2264D1;
}

.products__close-icon {
    margin-right: 20px;
    height: 18px;
    width: 18px;
    color: #2264D1;
    border: none;
    cursor: pointer;
}

.products__search__input {
    margin-left: 8px;
    line-height: 32px;
    width: 253px;
    text-align: left;
    border: none;
    background: #EDEDF0;
    outline: none;
}
