/* .block-with-text {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 6em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}
.block-with-text:before {
    content: '...';
    position: absolute;
    right: 1em;
    bottom: 0;
}
.block-with-text:after {
    content: '';
    position: absolute;
    right: 1em;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
} */

.block-with-text {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
