.pagination-wrapper {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.separator {
    width: 1rem;
    margin: 0 0.25rem;
}

.pageItem {
    background: transparent;
    border: none;
    height: 2rem;
    width: 2rem;
    margin: 0 0.25rem;
    border-radius: 50%;
    font-weight: 600;
    color: black;
}

.pageItem:hover {
    text-decoration: underline;
}

.active {
    background-color: #9DC2FF;
}

.sides {
    box-shadow: transparent 0 0 0 1px, transparent 0 0 0 4px, rgba(0, 0, 0, 0.18) 0 2px 4px;
}

.sides:hover {
    text-decoration: none;
    box-shadow: transparent 0 0 0 1px, transparent 0 0 0 4px, rgba(0, 0, 0, 0.12) 0 6px 16px;
}
