.pagination-wrapper {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.separator {
    width: 1rem;
    margin: 0 0.25rem;
}

.pageItem {
    background: transparent;
    border: none;
    height: 2rem;
    width: 2rem;
    margin: 0 0.25rem;
    border-radius: 50%;
    font-weight: 600;
}

.pageItem:hover {
    text-decoration: underline;
}

.active {
    background-color: var(--buttons);
    color: var(--main-background)
}

.sides {
    box-shadow: 0 2px 4px var(--box-shadow1), 0 4px 8px var(--box-shadow2)
}

.sides:hover {
    text-decoration: none;
    box-shadow: 0 2px 4px var(--box-shadow1), 0 4px 8px var(--box-shadow2)
}
