.item__container {
    position: relative;
    width: 50%;
}

.item__img {
    margin-top: 40px;
    opacity: 1;
    display: block;
    max-width: 350px;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.item__txt__container {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 12rem;
}

.item__container:hover .item__img {
    opacity: 0.3;
}

.item__container:hover .item__txt__container {
    opacity: 1;
}

.item__txt {
    font-size: 20px;
    color: #04aa6d;
}
