.sale__container{
    display: flex;
    align-items: center;

}

.sale__image{
    display: flex;
    width: 1000px;
    object-fit: cover;
}

.sale__items{
    position: absolute;
    margin-left: 400px;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    
    
}
