.best__container{
    display: flex;
    align-items: center;

}

.best__image {
    display: flex;
    width: 60%;
    object-fit: cover;
}

.best__icon {
    width: 40%;
    font-size: 300px;
    text-align: center;
    color: var(--green-main);
}

.best__items{
    position: absolute;
    margin-left: 400px;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}
