.best {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.best__container {

}

.best__items {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.best__header {
    margin: 0.5rem 0 0.5rem 0;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: var(--navigation);
}
