.main-nav {
    background: var(--main-background);
    box-shadow: 0 1px 2px var(--box-shadow1), 0 2px 4px var(--box-shadow2);
}

.main-nav a {
    color: var(--navigation-text);
    min-height: 64px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
    background: var(--main-background);
}

.main-nav a:hover {
    border-bottom: 0.2rem solid var(--navigation);
}

.main-nav > ul {
    display: flex !important;
    flex-wrap: wrap;
}

.main-nav ul {
    display: none;
    list-style: none none;
}

.main-nav li {
    min-width: 150px;
    text-align: center;
}

.main-nav > ul > li {
    position: relative;
}

.submenu > li {
    position: relative;
}

.main-nav > ul > li:hover > .submenu {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-shadow: 0 1px 2px var(--box-shadow1), 0 2px 4px var(--box-shadow2);
}

.submenu > li:hover > .submenu {
    display: block;
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0px;
    z-index: 2;
    box-shadow: 0 1px 2px var(--box-shadow1), 0 2px 4px var(--box-shadow2);
}

.arrow {
    margin-left: 8px;
    color: var(--icons);
    font-size: 12px;
}

.nav-logo-img {
    margin-left: 16px;
    width: 40px;
}

.nav-logo a:hover {
    border-bottom: none;
}

.nav-logo-name {
    margin-left: 12px;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0;
    text-align: left;
    margin-right: 16px;
    color: var(--navigation);
}

.nav-cart a:hover {
    border-bottom: none;
}

.nav-cart-badge {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 25px;
    top: calc(50% - 20px / 2 - 12px);
    background: var(--badge);
    border-radius: 99px;
    color: var(--main-background);
}

.nav-signin{
    display: flex;
    flex-direction: row;
}

.nav-signin a:hover {
    border-bottom: none;
}