.sportItems__container {
    height: 82vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.sportItem__element {
    width: 350px;
    min-height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-color: hsl(84, 100%, 59%);
    border-style: groove;
    border-width: 3px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(25, 119, 25, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(25, 119, 25, 1);
    box-shadow: 8px 8px 24px 0px rgba(25, 119, 25, 1);
    cursor: pointer;
}

.sportItem__name {
    font-weight: bold;
}

#my__txt :link {
    text-decoration: none;
}

.sportItem__button {
    width: 110px;
    min-height: 2rem;
    margin-top: 5px;
    background-color: var(--green-main);
    color: white;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    cursor: pointer;
}

.sportItem__icon {
    font-size: 42px;
    color: rgb(180, 180, 180);
}
