@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background: #FFF;
    --secondary-background: #F7F7FA;
    --icons: #2264D1;
    --box-shadow1: rgba(58, 58, 68, 0.24);
    --box-shadow2: rgba(90, 91, 106, 0.24);
    --navigation-text: #787885;
    --navigation: #0C2146;
    --badge: #F44336;
    --input-border: #CCC;
    --product-title: #19191D;
    --product-price: rgba(0, 0, 0, 0.87);
    --product-description: #787885;
    --buttons: #9DC2FF;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Red Hat Display', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    position: relative;
    min-height: 100vh;
}


/* --------------- cursors --------------- */
.cursor--pointer {
    cursor: pointer;
}

#content-wrap {
    padding-bottom: 158px;
}
