.register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-background);
}

.register__form{
    width: 375px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 24px 0px var(--box-shadow2);
    -moz-box-shadow: 0px 0px 24px 0px var(--box-shadow2);
    box-shadow: 0px 0px 24px 0px var(--box-shadow2);
    padding: 25px 13px;
}

.register__form__header{
    margin: 20px 10px 10px 10px;
    color: var(--green-main);
}
.register__form__input{
    color: black;
    width:250px;
    height: 50px;
    margin: 10px 20px 10px 10px;
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
    font-size: medium;
}

.form__errors{
    font-size: small;
    color: red;
}